{% extends 'layout.html' %}
{% block body %}
<h1>Daily Covered Call Results</h1>
<!--<img alt="download-csv" height="44" src="{{ url_for('static' , filename='images/export-csv.png')}}" title="Download CSV results" width="120" />-->
<hr/>
<table class="table table-striped" onload="sortTable">
    <tr>
        <th>Stock Graph</th>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Industry</th>
        <th>Sigma Volatility</th>
        <th>Current Stock Price</th>
        <th>Call Expiry Days</th>
        <th>Option Position</th>
        <th>Strike Price</th>
        <th>Bid</th>
        <th>Call Premium Net</th>
        <th>Break Even Simple</th>
        <th>Break Even New</th>
        <th>Income Exercise Perc</th>
        <th>Income Not Exercise Perc</th>
        <th>Expected Call Return</th>
    </tr>
    {% for StockPick in StockPicks %}
    <tr>
        <td><a class="StockID" href="/StockGraph/{{StockPick[0]}}"><img alt="graph-stock" height="50" src="{{ url_for('static' , filename='images/graph.png')}}" title="view Stock Graph" width="50" /></a></td>
        {% if request.path == '/CoveredCallsResults' %}<td><a class="StockID" href="/CoveredCallsResults/{{StockPick[0]}}">{{StockPick[0]}}</a></td>{% else %}<td>{{StockPick[0]}}</td>{% endif %}
        <td>{{StockPick[1]}}</td>
        <td>{{StockPick[2]}}</td>
        <td>{{StockPick[3]}}</td>
        <td>{{StockPick[4]}}</td>
        <td>{{StockPick[5]}}</td>
        <td>{{StockPick[6]}}</td>
        <td>{{StockPick[7]}}</td>
        <td>{{StockPick[8]}}</td>
        <td>{{StockPick[9]}}</td>
        <td>{{StockPick[10]}}</td>
        <td>{{StockPick[11]}}</td>
        <td>{{StockPick[12]}}</td>
        <td>{{StockPick[13]}}</td>
        <td>{{StockPick[14]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}