<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if session.logged_in %}
            <li class="nav-item {% if request.path == '/dailyResults' %}active{% endif %}">
                <a class="nav-link" href="/dailyResults">My Daily Results</a>
            </li>
            <li class="nav-item {% if request.path == '/myAccount' %}active{% endif %}">
                <a class="nav-link" href="/myAccount">Settings</a>
            </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
    {% if session.logged_in and request.path == '/myAccount' %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/myAccount">
                                <span data-feather="file"></span>
                                Personal Details
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accountBasic">
                                Basic Parameters
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/parametersOptions">
                                Option Strategy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Technical Strategy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Other
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    {% endif %}
</nav>
