<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <!--<link rel="stylesheet" type="text/css" href="url_for('static', filename='css/Stylesheet.css')" />-->
    <style>

        th, td {
            cursor: pointer;
        }

        .table tbody tr:hover td,
        .table tbody tr:hover th {
            background-color: transparent;
            border: 1px solid black;
        }

        .table-striped tbody tr:nth-child(odd):hover td {
            background-color: #F9F9F9;
        }
    </style>
</head>
<body>
    {% include 'includes/_navbar.html' %}

    <div class="container" margin-left="initial">
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </div>

    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>-->
</body>
</html>
<script type="text/javascript" src="{{ url_for('static', filename='js/sortTable.js')}}"></script>