{% extends 'layout.html' %}

{% block body %}
<h1><small>{{session.username}} Parameters Setup Page</small></h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="{{ url_for('account.updateParameters') }}">
    <div class="form-group">
        <label>PositionType</label>
        <input value={{parametersOptions.PositionType}} type="text" name="PositionType" class="form-control" />
    </div>
    <div class="form-group">
        <label>WeeksNumForCalcProb</label>
        <input value={{parametersOptions.WeeksNumForCalcProb}} type="text" name="WeeksNumForCalcProb" class="form-control" />
    </div>
    <div class="form-group">
        <label>MaxNumberOfShares</label>
        <input value={{parametersOptions.MaxNumberOfShares}} type="text" name="MaxNumberOfShares" class="form-control" />
    </div>
    <div class="form-group">
        <label>MaxUSDInvestmentSizePerStock</label>
        <input value={{parametersOptions.MaxUSDInvestmentSizePerStock}} type="text" name="MaxUSDInvestmentSizePerStock" class="form-control" />
    </div>
    <div class="form-group">
        <label>MaxExpiryWeeks</label>
        <input value={{parametersOptions.MaxExpiryWeeks}} type="text" name="MaxExpiryWeeks" class="form-control" />
    </div>
    <div class="form-group">
        <label>MinCallProbability</label>
        <input value={{parametersOptions.MinCallProbability}} type="text" name="MinCallProbability" class="form-control" />
    </div>
    <div class="form-group">
        <label>MaxCallProbability</label>
        <input value={{parametersOptions.MaxCallProbability}} type="text" name="MaxCallProbability" class="form-control" />
    </div>
    <div class="form-group">
        <label>MinIncomeExPerc</label>
        <input value={{parametersOptions.MinIncomeExPerc}} type="text" name="MinIncomeExPerc" class="form-control" />
    </div>
    <div class="form-group">
        <label>MinIncomeNotExPerc</label>
        <input value={{parametersOptions.MinIncomeNotExPerc}} type="text" name="MinIncomeNotExPerc" class="form-control" />
    </div>
    <div class="form-group">
        <label>CheckDailyProbability</label>
        <input value={{parametersOptions.CheckDailyProbability}} type="checkbox" name="CheckDailyProbability" class="input-checkbox" />
    </div>
    <div class="form-group">
        <label>MaxNumResultsPerExpiry</label>
        <input value={{parametersOptions.MaxNumResultsPerExpiry}} type="text" name="MaxNumResultsPerExpiry" class="form-control" />
    </div>
    <div class="form-group">
        <label>MinTradingPrice</label>
        <input value={{parametersOptions.MinTradingPrice}} type="text" name="MinTradingPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label>MaxTradingPrice</label>
        <input value={{parametersOptions.MaxTradingPrice}} type="text" name="MaxTradingPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label>IncludePutResults</label>
        <input value={{parametersOptions.IncludePutResults}} type="checkbox" name="IncludePutResults" class="input-checkbox" />
    </div>
    <div class="form-group">
        <label>ExcludeExpiryDuringEventDates</label>
        <input value={{parametersOptions.ExcludeExpiryDuringEventDates}} type="checkbox" name="ExcludeExpiryDuringEventDates" class="input-checkbox" />
    </div>
    <div class="form-group">
        <label>ExcludeStocks</label>
        <input value={{parametersOptions.ExcludeStocks}} type="text" name="ExcludeStocks" class="form-control" />
    </div>
    <div class="form-group">
        <label>ExcludeIndustry</label>
        <input value={{parametersOptions.ExcludeIndustry}} type="text" name="ExcludeIndustry" class="form-control" />
    </div>
    <div class="form-group">
        <label>PutProtectionPercCheckPrice</label>
        <input value={{parametersOptions.PutProtectionPercCheckPrice}} type="text" name="PutProtectionPercCheckPrice" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" name="commit" class="btn btn-primary" value="Save Changes" />
    </div>
</form>
{% endblock %}
