{% if current_user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="left-sidebar-wrapper">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('account.myAccount') }}">
                            <span data-feather="file"></span>
                            Personal Details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('account.accountBasic') }}">
                            Basic Parameters
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('account.parametersOptions') }}">
                            Option Strategy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Technical Strategy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Other
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
{% endif %}